<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WallpaperWeb</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <canvas id="glcanvas"></canvas>
    <div class="m-0 p-0 overlay-content d-flex flex-row justify-content-between">
        <div class="flex-shrink-0 p-3 vh-100 rounded-2 sidebar bg-opacity-10 bg-blur bg-dark">

            <i class="bi bi-list fs-3 text-white hidden-reverse"></i>

            <div class="pt-3">
                <ul class="list-unstyled ps-0 text-start overflow-control"> 
                <li class="mb-1"> 
                    <button class="btn btn-toggle text-nowrap d-inline-flex align-items-center rounded border-0 collapsed hidden custom-color" 
                            data-bs-toggle="collapse" 
                            data-bs-target="#scene-collapse" 
                            aria-expanded="true">
                        Scenes
                    </button>
                
                    <div class="collapse ps-4 pt-2" id="scene-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <div class="form-check form-switch">
                                <input class="form-check-input hidden" type="checkbox" role="switch" id="switch-scene">

                                <button class='btn btn-light btn-sm hidden flex-shrink-0 flex-fill text-nowrap' id="render-scene1-button">Render Scene</button>

                            </div>
                        </ul>
                    </div>
                </li>
                

                    <li class="mb-1"> 
                        <button class="btn btn-toggle text-nowrap d-inline-flex align-items-center rounded border-0 collapsed hidden custom-color" data-bs-toggle="collapse" data-bs-target="#ls-collapse" aria-expanded="true">
                            Load/Save
                        </button>

                        <div class="collapse ps-3 pt-2" id="ls-collapse">

                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li>
                                    <div class="d-flex justify-content-center flex-column">
                                        <input class="form-control form-control-sm hidden flex-shrink-0" type="file" id="formFile">
                                        <div class="d-flex justify-content-between gap-3 pt-2">
                                            <button class="btn btn-light btn-sm hidden flex-shrink-0 flex-fill" id="import-btn"><i class="bi bi-upload pe-2"></i>Import</button>
                                            <button class="btn btn-light btn-sm hidden flex-shrink-0 flex-fill" id="export-btn"><i class="bi bi-download pe-2"></i>Export</button>
                                        </div>
                                        <button class="btn btn-light btn-sm hidden flex-shrink-0 text-nowrap flex-fill mt-2" id="save-btn"><i class="bi bi-floppy-fill pe-2"></i>Save as image</button>
                                    </div>
                                </li> 
                            </ul> 

                        </div> 
                    </li>

                    <li class="mb-1" id="steps"> 
                        <button class="btn btn-toggle text-nowrap d-inline-flex align-items-center rounded border-0 collapsed hidden custom-color" data-bs-toggle="collapse" data-bs-target="#stepsize-collapse" aria-expanded="true">
                            Steps Count
                        </button>

                        <div class="collapse ps-3 pt-2" id="stepsize-collapse">

                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li>
                                    <div class="d-flex justify-content-between align-items-center gap-4">
                                        <input type="range" class="form-range hidden flex-fill slider" step="0.0001" min="0.0005" max="0.6" value="0.5" id="stepsize-slider">
                                        <input type="number" class="form-control form-control-sm hidden single-value flex-fill" step="0.0001" min="0.0005" max="0.6" value="0.5" id="stepsize-value">
                                    </div>
                                </li> 
                            </ul> 

                        </div> 
                    </li>

                    <!-- To jest template dla shadera, ktory ma tylko 1 parametr -->

                    <!--
                    <li class="mb-1" id="cat1"> 
                        <button class="btn btn-toggle text-nowrap d-inline-flex align-items-center rounded border-0 collapsed hidden custom-color" data-bs-toggle="collapse" data-bs-target="#cat1-collapse" aria-expanded="true">
                            Category 1
                        </button>

                        <div class="collapse ps-3 pt-2" id="cat1-collapse">

                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li>
                                    <div class="d-flex justify-content-between align-items-center gap-4">
                                        <input type="range" class="form-range hidden flex-fill slider" step="1" min="0" max="100" value="5" id="slider1">
                                        <input type="number" class="form-control form-control-sm hidden single-value flex-fill" step="1" min="0" max="100" value="50" id="value1">
                                    </div>
                                </li> 
                            </ul> 

                        </div> 
                    </li>
                    -->

                    <!-- To jest template dla shadera, ktory ma wiecej niz 1 parametr -->

                    <!--
                    <li class="mb-1" id="cat2"> 
                        <button class="btn btn-toggle text-nowrap d-inline-flex align-items-center rounded border-0 collapsed hidden custom-color" data-bs-toggle="collapse" data-bs-target="#cat2-collapse" aria-expanded="true">
                            Category 2
                        </button>

                        <div class="collapse ps-3 pt-2" id="cat2-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

                                <li> 
                                    <span class="text-white text-nowrap hidden">sub-category 1</span>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <input type="range" class="form-range hidden pe-4 slider" min="0" max="100" value="50" id="slider2">
                                        <input type="number" class="form-control form-control-sm hidden multi-value flex-fill" min="0" max="100" value="50" id="value2">
                                    </div>
                                </li> 

                                <li>
                                    <span class="text-white text-nowrap hidden">sub-category 2</span>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <input type="range" class="form-range hidden pe-4 slider" min="0" max="100" value="50" id="slider3">
                                        <input type="number" class="form-control form-control-sm hidden multi-value flex-fill" min="0" max="100" value="50" id="value3">
                                    </div>
                                </li>

                            </ul> 
                        </div>
                    </li>
                    -->

                    <!-- Test RGB -->

                    <li class="mb-1" id="rgb"> 
                        <button class="btn btn-toggle text-nowrap d-inline-flex align-items-center rounded border-0 collapsed hidden custom-color" data-bs-toggle="collapse" data-bs-target="#rgb-collapse" aria-expanded="true">
                            RGB test
                        </button>

                        <div class="collapse ps-3 pt-2" id="rgb-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

                                    <span class="text-white text-nowrap hidden">Red</span>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <input type="range" class="form-range hidden pe-4 slider" min="0" max="255" value="128" id="red-slider">
                                        <input type="number" class="form-control form-control-sm hidden multi-value flex-fill" min="0" max="255" value="128" id="red-value">
                                    </div>
                                </li> 

                                <li>
                                    <span class="text-white text-nowrap hidden">Green</span>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <input type="range" class="form-range hidden pe-4 slider" min="0" max="255" value="128" id="green-slider">
                                        <input type="number" class="form-control form-control-sm hidden multi-value flex-fill" min="0" max="255" value="128" id="green-value">
                                    </div>
                                </li>

                                <li>
                                    <span class="text-white text-nowrap hidden">Blue</span>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <input type="range" class="form-range hidden pe-4 slider" min="0" max="255" value="128" id="blue-slider">
                                        <input type="number" class="form-control form-control-sm hidden multi-value flex-fill" min="0" max="255" value="128" id="blue-value">
                                    </div>
                                </li>

                            </ul> 
                        </div>
                    </li>

                    <li class="mb-1" id="brightness"> 
                        <button class="btn btn-toggle text-nowrap d-inline-flex align-items-center rounded border-0 collapsed hidden custom-color" data-bs-toggle="collapse" data-bs-target="#brightness-collapse" aria-expanded="true">
                            Brightness correction
                        </button>

                        <div class="collapse ps-3 pt-2" id="brightness-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

                                <li> <!-- Jeden znacznik li to jest jedna podkategoria -->
                                    <span class="text-white text-nowrap hidden">Brightness</span>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <input type="range" class="form-range hidden pe-4 slider" min="0" max="2" value="1" step="0.01" id="brightness-slider">
                                        <input type="number" class="form-control form-control-sm hidden multi-value flex-fill" min="0" max="2" value="1" step="0.01" id="brightness-value">
                                    </div>
                                </li> 

                                <li>
                                    <span class="text-white text-nowrap hidden">Shadows</span>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <input type="range" class="form-range hidden pe-4 slider" min="0" max="2" value="1" step="0.01" id="shadows-slider">
                                        <input type="number" class="form-control form-control-sm hidden multi-value flex-fill" min="0" max="2" value="1" step="0.01" id="shadows-value">
                                    </div>
                                </li>

                                <li>
                                    <span class="text-white text-nowrap hidden">Midtones</span>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <input type="range" class="form-range hidden pe-4 slider" min="0" max="2" value="1" step="0.01" id="midtones-slider">
                                        <input type="number" class="form-control form-control-sm hidden multi-value flex-fill" min="0" max="2" value="1" step="0.01" id="midtones-value">
                                    </div>
                                </li>

                                <li>
                                    <span class="text-white text-nowrap hidden">Highlights</span>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <input type="range" class="form-range hidden pe-4 slider" min="0" max="2" value="1" step="0.01" id="highlights-slider">
                                        <input type="number" class="form-control form-control-sm hidden multi-value flex-fill" min="0" max="2" value="1" step="0.01" id="highlights-value">
                                    </div>
                                </li>

                                <!-- W tym miejscu dodac kolejne elementy listy tak jak wyzej -->

                            </ul> 
                        </div>
                    </li>

                    <li class="mb-1" id="gamma"> 
                        <button class="btn btn-toggle text-nowrap d-inline-flex align-items-center rounded border-0 collapsed hidden custom-color" data-bs-toggle="collapse" data-bs-target="#gamma-collapse" aria-expanded="true">
                            Gamma correction
                        </button>

                        <div class="collapse ps-3 pt-2" id="gamma-collapse">

                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li>
                                    <div class="d-flex justify-content-between align-items-center gap-4">
                                        <input type="range" class="form-range hidden flex-fill slider" min="0" max="100" value="50" id="gamma-slider">
                                        <input type="number" class="form-control form-control-sm hidden single-value flex-fill" min="0" max="100" value="50"id="gamma-value">
                                    </div>
                                </li> 
                            </ul> 

                        </div> 
                    </li>

                    <li class="mb-1" id="contrast"> 
                        <button class="btn btn-toggle text-nowrap d-inline-flex align-items-center rounded border-0 collapsed hidden custom-color" data-bs-toggle="collapse" data-bs-target="#contrast-collapse" aria-expanded="true">
                            Contrast
                        </button>

                        <div class="collapse ps-3 pt-2" id="contrast-collapse">

                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li>
                                    <div class="d-flex justify-content-between align-items-center gap-4">
                                        <input type="range" class="form-range hidden flex-fill slider" min="0" max="100" value="50" id="contrast-slider">
                                        <input type="number" class="form-control form-control-sm hidden single-value flex-fill" min="0" max="100" value="50"id="contrast-value">
                                    </div>
                                </li> 
                            </ul> 

                        </div> 
                    </li>

                    <li class="mb-1" id="gauss"> 
                        <button class="btn btn-toggle text-nowrap d-inline-flex align-items-center rounded border-0 collapsed hidden custom-color" data-bs-toggle="collapse" data-bs-target="#gauss-collapse" aria-expanded="true">
                            Difference of Gaussians
                        </button>

                        <div class="collapse ps-3 pt-2" id="gauss-collapse">

                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li>
                                    <div class="d-flex justify-content-between align-items-center gap-4">
                                        <input type="range" class="form-range hidden flex-fill slider" min="0" max="100" value="50" id="gauss-slider">
                                        <input type="number" class="form-control form-control-sm hidden single-value flex-fill" min="0" max="100" value="50"id="gauss-value">
                                    </div>
                                </li> 
                            </ul> 

                        </div> 
                    </li>                    

                    <li class="mb-1" id="sobel"> 
                        <button class="btn btn-toggle text-nowrap d-inline-flex align-items-center rounded border-0 collapsed hidden custom-color" data-bs-toggle="collapse" data-bs-target="#sobel-collapse" aria-expanded="true">
                            Sobel 
                        </button>

                        <div class="collapse ps-3 pt-2" id="sobel-collapse">

                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li>
                                    <div class="d-flex justify-content-between align-items-center gap-4">
                                        <input type="range" class="form-range hidden flex-fill slider" min="0" max="100" value="50" id="sobel-slider">
                                        <input type="number" class="form-control form-control-sm hidden single-value flex-fill" min="0" max="100" value="50"id="sobel-value">
                                    </div>
                                </li> 
                            </ul> 

                        </div> 
                    </li>

                    <li class="mb-1" id="perlin"> 
                        <button class="btn btn-toggle text-nowrap d-inline-flex align-items-center rounded border-0 collapsed hidden custom-color" data-bs-toggle="collapse" data-bs-target="#perlin-collapse" aria-expanded="true">
                            Perlin
                        </button>

                        <div class="collapse ps-3 pt-2" id="perlin-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

                                <li> <!-- Jeden znacznik li to jest jedna podkategoria -->
                                    <span class="text-white text-nowrap hidden">Width</span>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <input type="range" class="form-range hidden pe-4 slider" min="0" max="100" value="50" id="perlin-width-slider">
                                        <input type="number" class="form-control form-control-sm hidden multi-value flex-fill" min="0" max="100" value="50" id="perlin-width-value">
                                    </div>
                                </li> 

                                <li>
                                    <span class="text-white text-nowrap hidden">Height</span>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <input type="range" class="form-range hidden pe-4 slider" min="0" max="100" value="50" id="perlin-height-slider">
                                        <input type="number" class="form-control form-control-sm hidden multi-value flex-fill" min="0" max="100" value="50" id="perlin-height-value">
                                    </div>
                                </li>

                                <li>
                                    <span class="text-white text-nowrap hidden">Time</span>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <input type="range" class="form-range hidden pe-4 slider" min="0" max="100" value="50" id="perlin-time-slider">
                                        <input type="number" class="form-control form-control-sm hidden multi-value flex-fill" min="0" max="100" value="50" id="time-value">
                                    </div>
                                </li>

                                <!-- W tym miejscu dodac kolejne elementy listy tak jak wyzej -->

                            </ul> 
                        </div>
                    </li>

                    <li class="mb-1" id="voronoii"> 
                        <button class="btn btn-toggle text-nowrap d-inline-flex align-items-center rounded border-0 collapsed hidden custom-color" data-bs-toggle="collapse" data-bs-target="#voronoii-collapse" aria-expanded="true">
                            Voronoii
                        </button>

                        <div class="collapse ps-3 pt-2" id="voronoii-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

                                <li> <!-- Jeden znacznik li to jest jedna podkategoria -->
                                    <span class="text-white text-nowrap hidden">Width</span>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <input type="range" class="form-range hidden pe-4 slider" min="0" max="100" value="50" id="voronoii-width-slider">
                                        <input type="number" class="form-control form-control-sm hidden multi-value flex-fill" min="0" max="100" value="50" id="voronoii-width-value">
                                    </div>
                                </li> 

                                <li>
                                    <span class="text-white text-nowrap hidden">Height</span>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <input type="range" class="form-range hidden pe-4 slider" min="0" max="100" value="50" id="voronoii-height-slider">
                                        <input type="number" class="form-control form-control-sm hidden multi-value flex-fill" min="0" max="100" value="50" id="voronoii-height-value">
                                    </div>
                                </li>

                                <li>
                                    <span class="text-white text-nowrap hidden">Time</span>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <input type="range" class="form-range hidden pe-4 slider" min="0" max="100" value="50" id="voronoii-time-slider">
                                        <input type="number" class="form-control form-control-sm hidden multi-value flex-fill" min="0" max="100" value="50" id="voronoii-time-value">
                                    </div>
                                </li>

                                <!-- W tym miejscu dodac kolejne elementy listy tak jak wyzej -->

                            </ul> 
                        </div>
                    </li>

                    <li class="mb-1" id="bloom"> 
                        <button class="btn btn-toggle text-nowrap d-inline-flex align-items-center rounded border-0 collapsed hidden custom-color" data-bs-toggle="collapse" data-bs-target="#bloom-collapse" aria-expanded="true">
                            Bloom
                        </button>

                        <div class="collapse ps-3 pt-2" id="bloom-collapse">

                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li>
                                    <div class="d-flex justify-content-between align-items-center gap-4">
                                        <input type="range" class="form-range hidden flex-fill slider" min="0" max="100" value="50" id="bloom-slider">
                                        <input type="number" class="form-control form-control-sm hidden single-value flex-fill" min="0" max="100" value="50"id="bloom-value">
                                    </div>
                                </li> 
                            </ul> 

                        </div> 
                    </li>

                </ul>
            </div>
        </div>

        <div class="ms-5">
            <div class="fps-counter h-1 bg-opacity-10 bg-blur bg-dark text-white p-2 rounded-2">
                <span id="fps">60</span>fps <span id="frametime">16.6</span>ms
            </div>
        </div>

    </div>

    <script src="../static/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    
</body>
</html>
