<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WallpaperWeb</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <canvas id="glcanvas"></canvas>
    <div class="m-0 p-0 overlay-content d-flex flex-row justify-content-between">
        <div class="flex-shrink-0 p-3 vh-100 rounded-2 sidebar bg-opacity-10 bg-blur bg-dark">

            <i class="bi bi-list fs-3 text-white hidden-reverse"></i>

            <div class="pt-3">
                <ul class="list-unstyled ps-0 text-start overflow-control"> 
                <li class="mb-1"> 
                    <button class="btn btn-toggle text-nowrap d-inline-flex align-items-center rounded border-0 collapsed hidden custom-color" 
                            data-bs-toggle="collapse" 
                            data-bs-target="#scene-collapse" 
                            aria-expanded="true">
                        Scenes
                    </button>
                
                    <div class="collapse ps-3 pt-2" id="scene-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

                            <div class="d-flex justify-content-between gap-3 flex-shrink-0 flex-fill text-nowrap">
                                <input class="btn-check hidden switch" type="checkbox" id="switch-scene" autocomplete="off">
                                <label class="btn btn-light btn-sm hidden flex-shrink-0 flex-fill text-nowrap" for="switch-scene">Toggle scene</label>

                                <button class='btn btn-light btn-sm hidden flex-shrink-0 flex-fill text-nowrap' id="render-scene1-button">Render Scene</button>
                            </div>
                            
                        </ul>
                    </div>
                </li>
                

                    <li class="mb-1"> 
                        <button class="btn btn-toggle text-nowrap d-inline-flex align-items-center rounded border-0 collapsed hidden custom-color" data-bs-toggle="collapse" data-bs-target="#ls-collapse" aria-expanded="true">
                            Load/Save
                        </button>

                        <div class="collapse ps-3 pt-2" id="ls-collapse">

                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li>
                                    <div class="d-flex justify-content-center flex-column">
                                        <input class="form-control form-control-sm hidden flex-shrink-0" type="file" id="formFile">
                                        <div class="d-flex justify-content-between gap-3 pt-2">
                                            <button class="btn btn-light btn-sm hidden flex-shrink-0 flex-fill" id="import-btn"><i class="bi bi-upload pe-2"></i>Import</button>
                                            <button class="btn btn-light btn-sm hidden flex-shrink-0 flex-fill" id="export-btn"><i class="bi bi-download pe-2"></i>Export</button>
                                        </div>
                                        <button class="btn btn-light btn-sm hidden flex-shrink-0 text-nowrap flex-fill mt-2" id="save-btn"><i class="bi bi-floppy-fill pe-2"></i>Save as image</button>
                                    </div>
                                </li> 
                            </ul> 

                        </div> 
                    </li>

                    <li class="mb-1" id="steps"> 
                        <button class="btn btn-toggle text-nowrap d-inline-flex align-items-center rounded border-0 collapsed hidden custom-color" data-bs-toggle="collapse" data-bs-target="#stepsize-collapse" aria-expanded="true">
                            Steps Count
                        </button>

                        <div class="collapse ps-3 pt-2" id="stepsize-collapse">

                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li>
                                    <div class="d-flex justify-content-between align-items-center gap-4">
                                        <input type="range" class="form-range hidden flex-fill slider" step="1" min="4" max="10" value="10" id="stepsize-slider">
                                        <input type="number" class="form-control form-control-sm hidden single-value flex-fill" step="1" min="4" max="10" value="10" id="stepsize-value">
                                    </div>
                                </li> 
                            </ul> 

                        </div> 
                    </li>

                    <li class="mb-1" id="rgb"> 
                        <button class="btn btn-toggle text-nowrap d-inline-flex align-items-center rounded border-0 collapsed hidden custom-color" data-bs-toggle="collapse" data-bs-target="#rgb-collapse" aria-expanded="true">
                            Halo Color
                        </button>

                        <div class="collapse ps-3 pt-2" id="rgb-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

                                    <span class="text-white text-nowrap hidden">Red</span>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <input type="range" class="form-range hidden pe-4 slider" min="0" max="255" value="128" id="red-slider">
                                        <input type="number" class="form-control form-control-sm hidden multi-value flex-fill" min="0" max="255" value="128" id="red-value">
                                    </div>
                                </li> 

                                <li>
                                    <span class="text-white text-nowrap hidden">Green</span>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <input type="range" class="form-range hidden pe-4 slider" min="0" max="255" value="128" id="green-slider">
                                        <input type="number" class="form-control form-control-sm hidden multi-value flex-fill" min="0" max="255" value="128" id="green-value">
                                    </div>
                                </li>

                                <li>
                                    <span class="text-white text-nowrap hidden">Blue</span>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <input type="range" class="form-range hidden pe-4 slider" min="0" max="255" value="128" id="blue-slider">
                                        <input type="number" class="form-control form-control-sm hidden multi-value flex-fill" min="0" max="255" value="128" id="blue-value">
                                    </div>
                                </li>

                            </ul> 
                        </div>
                    </li>


                    <li class="mb-1" id="blackhole"> 
                        <button class="btn btn-toggle text-nowrap d-inline-flex align-items-center rounded border-0 collapsed hidden custom-color" data-bs-toggle="collapse" data-bs-target="#bh-collapse" aria-expanded="true">
                            Black Hole
                        </button>

                        <div class="collapse ps-1 pt-2" id="bh-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ps-0">
                                <li class="mb-1" id="coords"> 
                                    <button class="btn btn-toggle text-nowrap d-inline-flex align-items-center rounded border-0 collapsed hidden custom-color" data-bs-toggle="collapse" data-bs-target="#coords-collapse" aria-expanded="true">
                                        Coordinates
                                    </button>

                                    <div class="collapse ps-3 pt-2" id="coords-collapse">
                                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

                                            <li>
                                                <span class="text-white text-nowrap hidden">X</span>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <input type="range" class="form-range hidden pe-4 slider" min="-50" max="200" value="4" id="x-slider">
                                                    <input type="number" class="form-control form-control-sm hidden multi-value flex-fill" min="-50" max="200" value="4" id="x-value">
                                                </div>
                                            </li> 

                                            <li>
                                                <span class="text-white text-nowrap hidden">Y</span>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <input type="range" class="form-range hidden pe-4 slider" min="-50" max="200" value="-1" id="y-slider">
                                                    <input type="number" class="form-control form-control-sm hidden multi-value flex-fill" min="-50" max="200" value="-1" id="y-value">
                                                </div>
                                            </li>

                                            <li>
                                                <span class="text-white text-nowrap hidden">Z</span>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <input type="range" class="form-range hidden pe-4 slider" min="-50" max="200" value="12" id="z-slider">
                                                    <input type="number" class="form-control form-control-sm hidden multi-value flex-fill" min="-50" max="200" value="12" id="z-value">
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                </li>
                            </ul>

                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ps-0">
                                <li class="mb-1" id="rotation"> 
                                    <button class="btn btn-toggle text-nowrap d-inline-flex align-items-center rounded border-0 collapsed hidden custom-color" data-bs-toggle="collapse" data-bs-target="#rotation-collapse" aria-expanded="true">
                                        Rotation
                                    </button>

                                    <div class="collapse ps-3 pt-2" id="rotation-collapse">
                                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

                                            <li>
                                                <span class="text-white text-nowrap hidden">rotation-X</span>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <input type="range" class="form-range hidden pe-4 slider" min="0" max="360" value="0" id="rot-x-slider">
                                                    <input type="number" class="form-control form-control-sm hidden multi-value flex-fill" min="0" max="360" value="0" id="rot-x-value">
                                                </div>
                                            </li> 

                                            <li>
                                                <span class="text-white text-nowrap hidden">rotation-Y</span>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <input type="range" class="form-range hidden pe-4 slider" min="0" max="360" value="0" id="rot-y-slider">
                                                    <input type="number" class="form-control form-control-sm hidden multi-value flex-fill" min="0" max="360" value="0" id="rot-y-value">
                                                </div>
                                            </li>

                                            <li>
                                                <span class="text-white text-nowrap hidden">rotation-Z</span>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <input type="range" class="form-range hidden pe-4 slider" min="0" max="360" value="0" id="rot-z-slider">
                                                    <input type="number" class="form-control form-control-sm hidden multi-value flex-fill" min="0" max="360" value="0" id="rot-z-value">
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                </li>
                            </ul>

                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ps-0">
                                <li class="mb-1" id="radius"> 
                                    <button class="btn btn-toggle text-nowrap d-inline-flex align-items-center rounded border-0 collapsed hidden custom-color" data-bs-toggle="collapse" data-bs-target="#radius-collapse" aria-expanded="true">
                                        Radius
                                    </button>

                                    <div class="collapse ps-3 pt-2" id="radius-collapse">
                                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

                                            <li>
                                                <div class="d-flex justify-content-between align-items-center gap-4">
                                                    <input type="range" class="form-range hidden flex-fill slider" min="0" max="10" value="8" id="radius-slider">
                                                    <input type="number" class="form-control form-control-sm hidden single-value flex-fill" min="0" max="20" value="8" id="radius-value">
                                                </div>
                                            </li> 

                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="mb-1" id="brightness"> 
                        <button class="btn btn-toggle text-nowrap d-inline-flex align-items-center rounded border-0 collapsed hidden custom-color" data-bs-toggle="collapse" data-bs-target="#brightness-collapse" aria-expanded="true">
                            Brightness correction
                        </button>

                        <div class="collapse ps-3 pt-2" id="brightness-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

                                <li>
                                    <span class="text-white text-nowrap hidden">Brightness</span>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <input type="range" class="form-range hidden pe-4 slider" min="0" max="2" value="1" step="0.01" id="brightness-slider">
                                        <input type="number" class="form-control form-control-sm hidden multi-value flex-fill" min="0" max="2" value="1" step="0.01" id="brightness-value">
                                    </div>
                                </li> 

                                <li>
                                    <span class="text-white text-nowrap hidden">Shadows</span>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <input type="range" class="form-range hidden pe-4 slider" min="0" max="2" value="1" step="0.01" id="shadows-slider">
                                        <input type="number" class="form-control form-control-sm hidden multi-value flex-fill" min="0" max="2" value="1" step="0.01" id="shadows-value">
                                    </div>
                                </li>

                                <li>
                                    <span class="text-white text-nowrap hidden">Midtones</span>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <input type="range" class="form-range hidden pe-4 slider" min="0" max="2" value="1" step="0.01" id="midtones-slider">
                                        <input type="number" class="form-control form-control-sm hidden multi-value flex-fill" min="0" max="2" value="1" step="0.01" id="midtones-value">
                                    </div>
                                </li>

                                <li>
                                    <span class="text-white text-nowrap hidden">Highlights</span>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <input type="range" class="form-range hidden pe-4 slider" min="0" max="2" value="1" step="0.01" id="highlights-slider">
                                        <input type="number" class="form-control form-control-sm hidden multi-value flex-fill" min="0" max="2" value="1" step="0.01" id="highlights-value">
                                    </div>
                                </li>

                            </ul> 
                        </div>
                    </li>

                    <li class="mb-1" id="gamma"> 
                        <button class="btn btn-toggle text-nowrap d-inline-flex align-items-center rounded border-0 collapsed hidden custom-color" data-bs-toggle="collapse" data-bs-target="#gamma-collapse" aria-expanded="true">
                            Gamma
                        </button>

                        <div class="collapse ps-3 pt-2" id="gamma-collapse">

                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li>
                                    <div class="d-flex justify-content-between align-items-center gap-4">
                                        <input type="range" class="form-range hidden flex-fill slider" min="0" max="4" value="1" step="0.01" id="gamma-slider">
                                        <input type="number" class="form-control form-control-sm hidden single-value flex-fill" min="0" max="4" value="1" step="0.01" id="gamma-value">
                                    </div>
                                </li> 
                            </ul> 

                        </div> 
                    </li>

                    <li class="mb-1" id="contrast"> 
                        <button class="btn btn-toggle text-nowrap d-inline-flex align-items-center rounded border-0 collapsed hidden custom-color" data-bs-toggle="collapse" data-bs-target="#contrast-collapse" aria-expanded="true">
                            Contrast
                        </button>

                        <div class="collapse ps-3 pt-2" id="contrast-collapse">

                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li>
                                    <div class="d-flex justify-content-between align-items-center gap-4">
                                        <input type="range" class="form-range hidden flex-fill slider" min="0" max="3" value="0" step="0.01" id="contrast-slider">
                                        <input type="number" class="form-control form-control-sm hidden single-value flex-fill" min="0" max="3" value="0" step="0.01" id="contrast-value">
                                    </div>
                                </li> 
                            </ul> 

                        </div> 
                    </li>

                    <li class="mb-1" id="gauss"> 
                        <button class="btn btn-toggle text-nowrap d-inline-flex align-items-center rounded border-0 collapsed hidden custom-color" data-bs-toggle="collapse" data-bs-target="#gauss-collapse" aria-expanded="true">
                            Gaussian blur
                        </button>

                        <div class="collapse ps-3 pt-2" id="gauss-collapse">

                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li>
                                    <span class="text-white text-nowrap hidden">Kernel Size</span>
                                    <div class="d-flex justify-content-between align-items-center gap-4">
                                        <input type="range" class="form-range hidden flex-fill slider" min="1" max="7" value="3" id="gauss-kernel-slider">
                                        <input type="number" class="form-control form-control-sm hidden single-value flex-fill" min="1" max="7" value="3" id="gauss-kernel-value">
                                    </div>
                                </li> 

                                <li>
                                    <span class="text-white text-nowrap hidden">Blur intensity</span>
                                    <div class="d-flex justify-content-between align-items-center gap-4">
                                        <input type="range" class="form-range hidden flex-fill slider" min="0.01" max="10" value="0.01" step="0.01" id="gauss-intensity-slider">
                                        <input type="number" class="form-control form-control-sm hidden single-value flex-fill" min="0.01" max="10" value="0.01" step="0.01" id="gauss-intensity-value">
                                    </div>
                                </li> 
                            </ul> 

                        </div> 
                    </li>                    

                    <li class="mb-1" id="sobel"> 
                        <button class="btn btn-toggle text-nowrap d-inline-flex align-items-center rounded border-0 collapsed hidden custom-color" data-bs-toggle="collapse" data-bs-target="#sobel-collapse" aria-expanded="true">
                            Sobel 
                        </button>

                        <div class="collapse ps-3 pt-2" id="sobel-collapse">

                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li>
                                    <input class="btn-check hidden switch" type="checkbox" id="switch-sobel" autocomplete="off">
                                    <label class="btn btn-light btn-sm hidden flex-shrink-0 flex-fill text-nowrap" for="switch-sobel">Turn ON/OFF</label>
                                </li> 
                            </ul> 

                        </div> 
                    </li>

                    <li class="mb-1" id="bloom"> 
                        <button class="btn btn-toggle text-nowrap d-inline-flex align-items-center rounded border-0 collapsed hidden custom-color" data-bs-toggle="collapse" data-bs-target="#bloom-collapse" aria-expanded="true">
                            Bloom
                        </button>

                        <div class="collapse ps-3 pt-2" id="bloom-collapse">

                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li>
                                    <span class="text-white text-nowrap hidden">Kernel Size</span>
                                    <div class="d-flex justify-content-between align-items-center gap-4">
                                        <input type="range" class="form-range hidden flex-fill slider" min="1" max="10" value="3" id="bloom-kernel-slider">
                                        <input type="number" class="form-control form-control-sm hidden single-value flex-fill" min="1" max="10" value="3" id="bloom-kernel-value">
                                    </div>
                                </li> 

                                <li>
                                    <span class="text-white text-nowrap hidden">Intensity</span>
                                    <div class="d-flex justify-content-between align-items-center gap-4">
                                        <input type="range" class="form-range hidden flex-fill slider" min="0" max="5" value="0" step="0.01" id="bloom-intensity-slider">
                                        <input type="number" class="form-control form-control-sm hidden single-value flex-fill" min="0" max="5" value="0" step="0.01" id="bloom-intensity-value">
                                    </div>
                                </li> 
                            </ul> 

                        </div> 
                    </li>

                    <li class="mb-1" id="sky-generator"> 
                        <button class="btn btn-toggle text-nowrap d-inline-flex align-items-center rounded border-0 collapsed hidden custom-color" data-bs-toggle="collapse" data-bs-target="#sg-collapse" aria-expanded="true">
                            Sky Generator
                        </button>

                        <div class="collapse ps-3 pt-2" id="sg-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

                                <li> 
                                    <span class="text-white text-nowrap hidden">Seed</span>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <input type="range" class="form-range hidden pe-4 slider" min="1" max="1000" value="500" id="sg-seed-slider">
                                        <input type="number" class="form-control form-control-sm hidden multi-value flex-fill" min="1" max="1000" value="500" id="sg-seed-value">
                                    </div>
                                </li>

                                <li>
                                    <span class="text-white text-nowrap hidden">Size</span>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <input type="range" class="form-range hidden pe-4 slider" min="1" max="10" value="1" id="sg-size-slider">
                                        <input type="number" class="form-control form-control-sm hidden multi-value flex-fill" min="1" max="10" value="1" id="sg-size-value">
                                    </div>
                                </li>

                                <li>
                                    <span class="text-white text-nowrap hidden">Minimal Distance</span>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <input type="range" class="form-range hidden pe-4 slider" min="20" max="200" value="100" id="sg-md-slider">
                                        <input type="number" class="form-control form-control-sm hidden multi-value flex-fill" min="20" max="200" value="100" id="sg-md-value">
                                    </div>
                                </li>

                                <li>
                                    <span class="text-white text-nowrap hidden">K</span>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <input type="range" class="form-range hidden pe-4 slider" min="5" max="100" value="50" id="sg-k-slider">
                                        <input type="number" class="form-control form-control-sm hidden multi-value flex-fill" min="5" max="100" value="50" id="sg-k-value">
                                    </div>
                                </li>

                            </ul> 
                        </div>
                    </li>

                    <li class="mb-1" id="asciiArt"> 
                        <button class="btn btn-toggle text-nowrap d-inline-flex align-items-center rounded border-0 collapsed hidden custom-color" data-bs-toggle="collapse" data-bs-target="#asciiArt-collapse" aria-expanded="true">
                            ASCII Art
                        </button>

                        <div class="collapse ps-1 pt-2" id="asciiArt-collapse">

                            <ul class="btn-toggle-nav list-unstyled fw-normal ps-2 pb-1 small">
                                <li>
                                    <input class="btn-check hidden switch" type="checkbox" id="switch-asciiArt" autocomplete="off">
                                    <label class="btn btn-light btn-sm hidden flex-shrink-0 flex-fill text-nowrap" for="switch-asciiArt">Turn ON/OFF</label>
                                </li> 
                            </ul> 

                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ps-0">
                                 <li class="mb-1" id="color1-rgb"> 
                                    <button class="btn btn-toggle text-nowrap d-inline-flex align-items-center rounded border-0 collapsed hidden custom-color" data-bs-toggle="collapse" data-bs-target="#color1-rgb-collapse" aria-expanded="true">
                                        Gradient Color 1
                                    </button>

                                    <div class="collapse ps-3 pt-2" id="color1-rgb-collapse">
                                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                            <li>
                                                <span class="text-white text-nowrap hidden">Red</span>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <input type="range" class="form-range hidden pe-4 slider" min="0" max="255" value="0" id="color1-red-slider">
                                                    <input type="number" class="form-control form-control-sm hidden multi-value flex-fill" min="0" max="255" value="0" id="color1-red-value">
                                                </div>
                                            </li> 

                                            <li>
                                                <span class="text-white text-nowrap hidden">Green</span>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <input type="range" class="form-range hidden pe-4 slider" min="0" max="255" value="0" id="color1-green-slider">
                                                    <input type="number" class="form-control form-control-sm hidden multi-value flex-fill" min="0" max="255" value="0" id="color1-green-value">
                                                </div>
                                            </li>

                                            <li>
                                                <span class="text-white text-nowrap hidden">Blue</span>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <input type="range" class="form-range hidden pe-4 slider" min="0" max="255" value="0" id="color1-blue-slider">
                                                    <input type="number" class="form-control form-control-sm hidden multi-value flex-fill" min="0" max="255" value="0" id="color1-blue-value">
                                                </div>
                                            </li>
                                        </ul> 
                                    </div>
                                </li>
                            </ul>

                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ps-0">
                                <li class="mb-1" id="color2-rgb"> 
                                    <button class="btn btn-toggle text-nowrap d-inline-flex align-items-center rounded border-0 collapsed hidden custom-color" data-bs-toggle="collapse" data-bs-target="#color2-rgb-collapse" aria-expanded="true">
                                        Gradient Color 2
                                    </button>

                                    <div class="collapse ps-3 pt-2" id="color2-rgb-collapse">
                                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

                                            <li>
                                                <span class="text-white text-nowrap hidden">Red</span>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <input type="range" class="form-range hidden pe-4 slider" min="0" max="255" value="0" id="color2-red-slider">
                                                    <input type="number" class="form-control form-control-sm hidden multi-value flex-fill" min="0" max="255" value="0" id="color2-red-value">
                                                </div>
                                            </li> 

                                            <li>
                                                <span class="text-white text-nowrap hidden">Green</span>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <input type="range" class="form-range hidden pe-4 slider" min="0" max="255" value="0" id="color2-green-slider">
                                                    <input type="number" class="form-control form-control-sm hidden multi-value flex-fill" min="0" max="255" value="0" id="color2-green-value">
                                                </div>
                                            </li>

                                            <li>
                                                <span class="text-white text-nowrap hidden">Blue</span>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <input type="range" class="form-range hidden pe-4 slider" min="0" max="255" value="0" id="color2-blue-slider">
                                                    <input type="number" class="form-control form-control-sm hidden multi-value flex-fill" min="0" max="255" value="0" id="color2-blue-value">
                                                </div>
                                            </li>

                                        </ul> 
                                    </div>
                                </li>
                            </ul>
                        </div> 
                    </li>
                </ul>
            </div>
        </div>

        <div class="ms-5">
            <div class="fps-counter h-1 bg-opacity-10 bg-blur bg-dark text-white p-2 rounded-2">
                <span id="fps">60</span>fps <span id="frametime">16.6</span>ms
            </div>
        </div>

    </div>

    <script type="module" src="../static/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    
</body>
</html>
